<div class="column-head extra-padding" id="<%- theme.ifsparticle ? 'fallEle' : ''%>" style="background-image: url(<%- theme.banner %>)">
    <h2 class="column-title fade">
        <i class="fa fa-folder-open"></i>
        <%= page.category %>
    </h2>
</div>
<div id="con-wrap">
    <div class="content">
        <% page.posts.each(function(item){ %>
            <%- partial('_partial/article', {item: item}) %>
        <% }) %>
    </div>
</div>
<%- partial('_partial/pagination') %>