<!DOCTYPE html>
<html<% if(config.language){ %> lang="<%= config.language %>" <% } %>>
<%- partial('_partial/head') %>

<body>
	<div class="body-box">
		<!-- 内容 -->
		<div class="content-box">
			<%- partial('_partial/sidebar') %>
			<div class="content-article">
				<div class="banner" style="background-image: url(<%= theme.headerImg %>)"></div>
				<div class="content-article-box">
					<%- body %>
				</div>
				<%
					if(!(is_post()||is_page())){
				%>
					<%- partial('_partial/pagination') %>
				<%
					}
				%>
				<%- partial('_partial/footer',{}, {cache: true}) %>
				
			</div>
		</div>
		
	</div>
</body>
</html>