<!DOCTYPE html>
<html<% if(config.language){ %> lang="<%= config.language %>" <% } %>>
<%- partial('_partial/head') %>

<body>
	<!-- 头部 -->
	<%- partial('_partial/header',{}, {cache: true}) %>
	<div class="body-box">
		<!-- 内容 -->
		<div class="content-box">
			<%- partial('_partial/sidebar') %>
			<div class="content-article">
				<div class="content-article-box">
					<%- body %>
				</div>
				<%- partial('_partial/pagination') %>
			</div>
			
		</div>
		<!-- 底部 -->
		<%- partial('_partial/footer',{}, {cache: true}) %>
	</div>
</body>
</html>