<!DOCTYPE html>
<html<% if(config.language){ %> lang="<%= config.language %>" <% } %>>
<%- partial('_partial/head') %>

<body>
	<div class="body-box">
		<!-- 头部 -->
		<%- partial('_partial/header',{}, {cache: true}) %>
		<!-- 内容 -->
		<%- partial('_partial/content',{}, {cache: true}) %>
		<!-- 底部 -->
		<%- partial('_partial/footer',{}, {cache: true}) %>
	</div>
</body>
</html>