<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="<%= config.description %>">
	<meta name="keywords" content="<%= config.keywords %>">
	<%
	var title = [];
	if (page.current > 1) title.push(__('page', page.current));
	if (page.title) title.push(page.title);
	if (page.category) title.push(page.category);
	if (page.tag) title.push(page.tag);
	if (page.archive) {
		if (page.year) title.push(__('archive', page.year + (page.month ? '/' + page.month : '')));
		else title.push(__('archive'));
	}
	title.push(config.title);
	%><title><%= title.join(' - ') %></title>
    <link rel="alternate" href="<%- theme.rss ? theme.rss : '' %>" type="application/atom+xml"/>
	<link rel="shortcut icon" href="<%- theme.favicon ? theme.favicon : '' %>"/>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<%- css('css/style') %>

	<script type="text/javascript" id="hexo.configuration">
		var CONFIG = {
		  root: '/',
		  algolia: {
				applicationID: 'C6NVBPHLDO',
				apiKey: '9ce0f88bb6e4402718aee1d634c17205',
				indexName: 'blog',
				hits: {"per_page":10},
				labels: {"input_placeholder":"搜索...","hits_empty":"未发现与 「${query}」相关的内容","hits_stats":"${hits} 条相关条目，使用了 ${time} 毫秒"}
			}
		};
	</script>

</head>