<%- partial('_partial/ie', {}, {cache: true}) %>
<header class="header">
    <h2 class="header-name">
        <a href="<%- config.root %>"><%= theme.name %></a>
        <small><%= theme.description %></small>
    </h2>
    <%- partial('_partial/nav') %>
</header>