<div class="sidebar">
	<div class="widget-search">
		<h2 class="widget-title"><%= __('search') %></h2>
		<%- search_form({'class':'search','text': __('search')}) %>
	</div>
	<% if(site.posts.length){ %>
    <div class="widget-late">
		<h2 class="widget-title"><%= __('recent') %></h2>
		<%- list_posts({amount: theme.widgetArticle.amount}) %>
	</div>
	<% } %>
	<div class="widget-tags">
		<h2 class="widget-title"><%= __('tags') %></h2>
		<%- tagcloud({min_font: 10}) %>
	</div>
	<div class="widget-categories">
		<h2 class="widget-title"><%= __('categories') %></h2>
		<%- list_categories() %>
	</div>
</div>
