<header class="top" id="<%- theme.ifsparticle ? 'fallEle' : ''%>" style="background-image: url(<%- theme.banner %>)">
    <i class="fa fa-bars" id="media-toggle" style="display: none"></i>
    <div class="top-info cl fadeToBottom">
        <h2 class="site-name"><a href="/"><%=theme.name%></a> <small id="type-data"><%=theme.description%></small></h2>
        <!-- <ul class="account-list">
            <% for (var i in theme.account){ %>
                <li>
                    <a href="<%- url_for(theme.account[i].url) %>"  title="<%= i %>" class="<%- is_current(url_for(theme.account[i].url)) ? 'active' : '' %>" target="_blank">
                        <i class="<%= theme.account[i].iconType %> fa-<%= theme.account[i].icon %>"></i>
                    </a>
                </li>
            <% } %>
        </ul> -->
    </div>
</header>